body {
  font-family: Helvetica;
  color: black;
}

.hero-section {
  background-color: #f1f3ff;
  padding: 50px 0;
}

.navbar-color {
  background-color: #f1f3ff;
}

.nav-link {
  color: black;
  font-size: 14px;
  font-weight: 400;
}

.custom-button {
  font-size: 14px;
  font-weight: 400;
  color: white !important;
  background-color: #5cb85f;
}

.font-hero-heading {
  font-weight: 700;
  font-size: 36px;
}

.font-description {
  font-size: 14px;
  font-weight: 300;
}

.font-service-heading {
  font-weight: 700;
  font-size: 24px;
}

.font-why-us-list-heading {
  font-weight: 700;
  font-size: 16px;
}

.btn-start {
  background-color: #4caf50;
  color: white;
  font-size: 14px;
  font-weight: 700;
  border: none;
}

.btn-start:hover {
  background-color: #45a049;
  color: white;
}

.nav-link {
  color: black !important;
}

.feature-section {
  padding: 60px 0;
}

.feature-card {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: box-shadow 0.3s;
}

.feature-card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.feature-icon {
  font-size: 30px;
  margin-bottom: 20px;
  color: #4caf50;
}

.why-us-section {
  padding: 50px 0;
}

.why-us-section .card {
  text-align: start;
}

.rental-header {
  border-radius: 10px;
  background-color: #0d28a6;
}

.faq-section .accordion-button {
  background-color: #f8f9fa;
  font-weight: bold;
  font-size: 14px;
  font-weight: 300;
}

.footer {
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
}

.footer address {
  font-style: normal;
}

.footer ul {
  padding-left: 0;
  list-style-type: none;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer .list-inline-item {
  margin-right: 10px;
}

.footer .bi {
  font-size: 1.5rem;
}
